[Unit]
Description=spring boot daemon
After=network.target

[Service]
User={{ ansible_user }}
Group=general
WorkingDirectory={{ working_directory }}
ExecStart={{ exec_start }}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
