server {
    listen 80;
    server_name devops-cf.ip-ddns.com;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name devops-cf.ip-ddns.com;

    ssl_certificate /etc/letsencrypt/live/devops-cf.ip-ddns.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/devops-cf.ip-ddns.com/privkey.pem;

    client_max_body_size 4G;

    location / {
        root /home/azureuser/frontend;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://localhost:8080/api/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
